*{
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
}
.wraper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-columns: 33% 33% 33%;
	background-color: #46b08d;
	height: 100px;
	margin:0;
}
.header {
	grid-column: 1/2;
}
.header h1 {
	color: white;
	text-align: center;
}
.sidebar1 {
	grid-column: 2/3;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-columns: 70% 30% ;

}
.sidebar01 input {
	height: 50px;
	width: 100%;
	margin-top: 25px;
	border-radius: 10px;
}
.sidebar02 button {
	height: 50px;
	width: 100%;
	margin-top: 25px;
	border-radius: 10px;
}
.wraper1 {
	display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-template-columns: 30% 70%;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 20px;
	height: 400px;
}
.sidebar3 {
	grid-column: 1/2;
	background-color: lightgray;
}
.sidebar3 h1 {
	color: black;
	text-align: center;
}
.sidebar3 ul {
	list-style: none;
	margin: 0;
	padding: 10px;
}
.sidebar3 ul li{
	position: relative;
}
.sidebar3 ul li a {
	display: block;
}
.sidebar3 li {
	height: 50px;
}
.sidebar3 a {
	text-decoration: none;
	color: black;
}
.sidebar3 ul li a:hover {
	color: red;
}
.sidebar4 {
	grid-column: 2/3;
	animation-name: html;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	background-size: cover;
	overflow: hidden;
}
@keyframes html {
	0%{background-image: url(https://cnet2.cbsistatic.com/img/e3p4kfIn9ZP68TAeuLVQqwkrcVA=/1092x0/2019/09/16/850d36e0-9bdf-43cf-bef2-31bd5f105924/02-iphone-11-pro-and-iphone-11-max.jpg);}
	25%{background-image: url(https://as-images.apple.com/is/iphone-11-pro-og-facebook-201909?wid=1200&hei=630&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1566936518195);}
	50%{background-image: url(https://znews-photo.zadn.vn/w660/Uploaded/neg_wpeczyr/2019_07_05/Screenshot_17.jpg);}
	75%{background-image: url(https://vnn-imgs-f.vgcloud.vn/2019/09/20/22/iphone-11-pro-max-1.jpg);}
	100%{background-image: url(http://file.hstatic.net/1000353777/file/iphone_2b3c149256a54d8d8c1ba28c504c16bb_grande.jpg);}
}
.sub-menu>li>a{
    display: block;

}
.sub-menu>li:hover>a{
    color: #f36d00;
    background-color: white;
}
.sub-menu{
    position: absolute;
    left: 100%;
    width: 100%;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
    top: 0;
    padding: 0;
    display: none;
    background-color: gray;
}

.sidebar3>ul>li:hover .sub-menu{
    display: block;
}
.wraper3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-columns: 33% 33% 33% ;
	grid-template-rows: 33% 33% 33%;
	margin-right: 200px;
	margin-left: 200px;
	margin-top: 50px;
	height: 1200px;
	grid-column-gap: 30px;
	grid-row-gap: 15px;
}
.header0001 {
	grid-column: 1/5;
	background-color: #399d7c;
	margin-right: 200px;
	margin-left: 200px;
	margin-top: 50px;
	height: 50px;
}

.header0001 h1{
  color: white;
  text-align: center;
}
figure.snip1477 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
  border-radius: 30px;
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.snip1477 .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.snip1477 h2 {
  font-weight: 400;
}
figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
figure.snip1477 figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
  margin: 0;
}
figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.wraper4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns:25% 25% 25% 25%;
  height: 2000px;
  margin-left: 200px;
  margin-right: 200px;
}
.header00002 {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 15% 85%;
  grid-column-gap: 20px; 
}
.header012 {
  grid-column: 1/5;
}
.header012 h1 {
  color: red;
}
.header013 button {
  width: 100px;
  height: 50px;
  border-color: red;
  border-radius: 8px;
  margin-left: 100px;
}
.header014 button {
  width: 100px;
  height: 50px;
  border-color: red;
  border-radius: 8px;
  margin-left: 100px;
}
.header015 button {
  width: 100px;
  height: 50px;
  border-color: red;
  border-radius: 8px;
  margin-left: 100px;
}
.header016 button {
  width: 100px;
  height: 50px;
  border-color: red;
  border-radius: 8px;
  margin-left: 100px;
}
.sidebar123{
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.container {
  transition: transform .1s ease;
}
.container:hover {
  transform: scale(1.2);
}
