h1,h1,h3,h4,h5,body,ul,li,a,p{padding: 0px;margin: 0px;}
body{font-size: 12px;font-family: arial;}
li{list-style: none;}
a{color: black;text-decoration: none;}
a:hover{text-decoration: none;}
.logo
{
	width: 210px;
	height: 45px;
}
.header-top
{
	background-color: #dadada;
	/*font-size: 13px;*/
	font-weight: bold;
	color: #f62d3e;
}
.search-box {  
display: inline-block;  
width: 90%; 
border-radius: 20px;  
padding: 4px 55px 4px 15px;  
position: relative;  
background: #fff;  
border: 1px solid #dadada; 
} 
.search-box:hover
{
	box-shadow: 1px 1px #dadada; 
}
.search-box input[type=text] { 
border: none;  
box-shadow: none;  
display: inline-block;  
padding: 0;  
font-size: 13px;
}
.search-box .search-btn {  
position: absolute;  
right: 8px;  
top: 0px;  
color:#f62d3e;  
border-radius: 3px;  
font-size: 21px;  
padding: 5px 5px 1px;  
}
.cart button
{
	background-color: #f62d3e;
	font-size: 13px;
	border: 1px solid #f62d3e;
	border-radius: 20px;
	padding: 10px 20px;
	margin-top: 1px;
}
.cart button i
{
	font-size: 20px;
	margin-top: -10px;
}
#menu{background-color: #2e3553;}
#menu ul li
{
	display: inline-block;
	padding: 10px 20px;
}
#menu ul li a
{
	color: white;
	text-transform:uppercase;
	font-weight: bold;
}
#menu ul li:hover{ background-color:#f62d3e;}
.hot-img
{
	margin: 3px 0px;
	width: 100%;
	height: 151px;
}
.menu-img 
{
	width: 100%;
	overflow:hidden;
}
.menu-img img
{
	width: 540px;
	height: 220px;
	position:relative;
	z-index: 1;
}
.menu-img .title-category
{
	position: absolute;
	top: 0px;
	left:15px;
	padding: 10px 15px;
	z-index: 0;
	/*color: white;
	font-weight: bold;*/
	text-align: center;
	/*font-size: 20px;*/
}
.menu-img .menu-img1:hover .title-category{ 
	position: absolute;
	top: 0px;
	left:15px;	
	width: 540px;
	height: 220px;
	z-index: 2;
	overflow: hidden;
	color: white;
	font-weight: bold;
	font-size: 30px;
	  background-color: rgba(0, 0, 6, 0.62);
	/*background-color: #f62d3e;*/
	/*opacity: 0.75;*/
}
.menu-img .menu-img1:hover .title-category h3
{
	font-size: 30px;
	margin-top: 50px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.product
{

	margin-top: 30px;
}
#hot p 
{
text-align: center;
margin-top: 20px;
font-weight: bold;
font-size: 25px;
color: #474c5f;
font-family: Times New Roman;
}
.product .content{margin-top: 10px;text-align: center;}
.product .content .name a{font-size: 14px;}
.product .content .name a:hover{color: #f62d3e;}
.product .content .price .sale{text-decoration:line-through;	}
.product .content .price .hotprice{color: #f62d3e;font-weight: bold;}
.img1 {
    width:250px;
    height: 173px;
    position: relative;
    overflow: hidden;
    text-align: center;  
}
.img1 img
{
	 width:100%;
    height: 173px;
}
.product .content a
{
	font-size: 14px;
}
.sale123 a:hover
{
	color: #f62d3e;
}

.xemall:hover
{
	color: #f62d3e;
}
.product .content a:hover
{
	color: #f62d3e;
}
.product .content p span
{
	color: red;
	font-weight: bold;
}
.product
{
	width: 100%;
	overflow: hidden;
}
.product .txt
{
	padding:0px 20px 0px 10px;
}
 
.product .txt {
    width: 250px;
    height: 180px;
    background-color: rgba(0, 0, 6, 0.52);
    position: absolute;
 	top:-3px;
    text-align: center;
    color: white;
    padding:15px 2px 0px 3px;
    opacity: 0;
    overflow: hidden;

}

.product .img1:hover .txt {
    opacity: 1;
}
.product .txt span a	
{
	background-color:#f62d3e;
	text-align: center;
	border: 1px solid #f62d3e;
	padding: 5px;
	color: white;
	border-radius: 4px;	
}
.txt span a:hover
{
	background-color: blue;
	color:white;
	border: 1px solid blue;
	border-radius: 4px;
}
 .sale123
{
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 3px solid #dadada;
	font-family: Times New Roman;
}
.sale-product  img
{float: left; margin-right: 25px;width:250px;}
	.clear{clear: both;}
	
	.sale-product .content1 p
	{
		padding: 1px;
	}
	.sale-product .content1
	{
		margin-top: 5px;
	}
	.content1 a
	{
		font-size: 14px;
	}
	.content1 a:hover
	{
		color: #f62d3e;
	}
	.sale-product span a
	{
		
		background-color: #f62d3e;
		padding: 7px;
		border: 1px solid #f62d3e;
		color: white;
		border-radius: 3px;
	}
.saledescription
{
	overflow: hidden;
	height: 75px;
}
.baohanh img
{
float: left;
width: 60px;
margin-right: 20px;
}
/*.footer
{
	background-color: #474c5f;
}*/	
.store p
{
	padding: 3px 0px;
}
.
.category .danhmuc
{
	border: 2px solid red;
}
.category ul
{
	border: 1px solid #dadada;
}
.bh-right
{
	float: left;
	width: 265px;
	margin-left: 10px;
}

.danhmuc
{
	border-bottom: 1px solid red;
	padding: 15px 25px;
	font-weight: bold;
	font-size: 14px;
	color: white;

	font-family: Times New Roman;
	background-color: #f62d3e;
}
.category ul
{
}
.category ul li
{
	border-bottom: 1px solid #dadada;
	padding:15px 25px;
}
.category ul li a
{
	font-size: 13px;
}
.category ul li a:hover
{
	color: #f62d3e;
}
.hotline-tt
{
	border: 1px solid #dadada;
}
.hotline-tt ul
{
	padding-left: 30px;
}
.hotline-tt ul li
{
	padding: 12px 0px;
}
.hotline-tt ul li a
{
	font-weight: bold;
}
.news img
{
	width: 200px; 
	float: left;
	margin-right: 30px;
}
.news1
{
	border: 1px solid #dadada;
	padding: 10px;

}
.news1:hover
{
	box-shadow: 1px 1px #dadada;
}
.content-news a
{
	font-size: 18px;
	/*border-bottom: 1px solid #dadada;*/
	padding-bottom: 5px;
}
.content-news p
{
	padding-top: 5px;
	/*border-top: 1px solid #dadada;*/
	font-size: 13px;
}
.content-news a:hover
{
	color: #f62d3e;
}

.hot-news1 img
{
	float: left;
	width: 120px;
	padding-right: 10px;
}
.hot-news1 p
{
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	padding-top: 5px;
	white-space: nowrap;
}
.hot-news1
{
	margin-top: 10px;
}
.hot-news1 a:hover
{
	color: #f62d3e;
}
.news-detail h3
{
	font-size: 25px;
	/*font-family: Times New Roman;	*/
	padding-bottom:  10px;
}
.news-detail p
{
	font-size: 14px;
	font-style: italic;
}
.news-detail img
{
	width: 70%;
	padding: 20px;
	text-align:center;
}
.img-detail #img-main
{
	width: 350px;
	height: 220px;
}
.img-detail ul li
{
	display: inline-block;
	padding:10px 5px;
}
.img-detail ul li img
{
	width: 75px;
	height: 60px;
	padding: 2px;
	border: 1px solid #dadada;
}
.img-detail ul li img:hover
{
	border: 1px solid #f62d3e;
	padding: 2px;
}
.img-detail 
{
	float: left;
	margin-right: 30px;
}
.title-product .name
{
	font-size: 25px;
	font-weight: bold;
}
.title-product .price
{
	font-weight: bold;
	font-size: 20px;
	color: #f62d3e;
	margin-top: 3px;
}
.title-product .mieuta
{
	margin-top: 5px;
	font-size: 13px;
}
.title-product button
{
	margin-top: 5px;

	margin-left: 30px;

}
.shoping
{
	color: white;
	
	padding: 3px;
}
.title-product a:hover
{
	color: white;
}
.chitiet
{
	border: 1px solid #dadada;
	padding:10px 20px;
}
.footer .title
{
	font-size: 15px;
	font-weight: bold;
	padding-top: 10px;
	color: white;
}
.footer
{
	background-color: #242637;
	color:  #dfe0e2;
}
.footer .content p
{
	padding-top: 10px;
	/*padding-left: 15px;*/
}
.footer .content123 p
{
	padding-top: 10px;
	/*padding-left: 15px;*/
}
.footer .content i
{
	color:#f62d3e;
	font-size: 13px;
}
.footer .content123 i
{
	color:#f62d3e;
	font-size: 13px;
}
.footer a
{
	color: #dfe0e2;
}
.footer a:hover
{
	color: white;
}
#footer-bot
{
	background-color: #161829;
	line-height: 30px;
	color: #969698;
	text-align: center;
	margin: auto;
}
#footer-bot span
{
	font-weight: bold;
	color: white;
}
.tt12 ul li
{
border-bottom: 1px solid #dadada;
padding: 13px 20px;
}
.tt12 ul li img
{
	float: left;
	width: 35px;
	height: 35px;
	margin-right: 20px;
}
.tt123 .tt123
{
	float: left;
}
.tt123 a:hover
{
	color: #f62d3e;
}
.quantam ul
{
	margin-top: 12px;
}
.quantam ul li img
{
	width: 80px;
	height: 55px;
	padding: 3px;
	float: left;
	border: 1px solid #dadada;
}
.quantam ul li
{
	padding: 10px 0px;
	/*border-bottom: 1px solid #dadada;*/
}
.quantam .qt12
{
	float: left;
	margin-left: 10px;
	width: 160px;
}
.quantam .qt12 a:hover
{
	color: #f62d3e;
}