.titileshopping{
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
}
.titileshopping>p>span{
    font-size: 20px;
}
.cart{
    width: 650px;
    height: 500px;
    background-color: white;
    margin-left: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.cartphone{
    display: grid;
    grid-template-columns: 40% 60%;
}